.red{color:#e03147;}
.green{color:#197372;}
.maincontainer{
  margin-top:65px;
}

#qr-scanner-video {
  width: auto !important;
  height: 50% !important;
  max-width: 100% !important;
}



.preCheckin:hover{
  background: #ffffff !important;
  cursor: pointer;
}
