<template name="checkIn">
  <div class="container">
    {{#isActivated}}
      {{#if searching}}
        <p style="background:#ffffcc;padding:10px;text-align:center;font-size:18px;">
          <i class="fa fa-wifi"></i>
          In attesa di connessione WiFi
        </p>
        {{> spinner}}
      {{else}}

        <p style="background:#b5d6b5;padding:10px;text-align:center;font-size:18px;">
          <i class="fa fa-wifi"></i>
          WiFi trovato!
        </p>
        {{> insertWords}}
      {{/if}}
    {{/isActivated}}
  </div>
</template>
