<template name="home">
  <div class="container">
    {{#isActivated}}
      <div class="">
        <a class="btn btn-success btn-lg" href="http://www.trenitalia.com/" target="_blank" style="width:100%;">
          <i class="fa fa-ticket"></i>
          Compra biglietto
        </a>
      </div>
      <div class="" style="margin-top:20px;">
        <a class="btn btn-danger btn-lg" id="scan" style="width:100%;">
          <i class="fa fa-camera"></i>
          Scannerizza biglietto
        </a>
      </div>

      <div class="" style="margin-top:20px;">
        <a href="/preCheckin" class="btn btn-default btn-lg" style="width:100%;">
          <i class="fa fa-train"></i>
          Check-In sul treno
        </a>
      </div>

    {{/isActivated}}
  </div>
</template>
