<template name="insertWords">
  <div class="txt">
    <p style="background:#afafaf;padding:10px;text-align:center;font-size:18px;">
      <i class="fa fa-edit"></i>
      Inserisci le due parole che hai scelto
    </p>

  </div>

  {{#autoForm id='insertWords' schema=schema}}
    {{> afQuickField name="word1" label=false class="" value=w1}}
    {{> afQuickField name="word2" label=false class="" value=w2}}

    <div style="margin-top:10px;">
      <button type="submit" class="btn btn-primary form-control">CONFERMA</button>
    </div>

  {{/autoForm}}
</template>
