<template name="main">
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">

      <div class="navbar-header">

        <a href="/" data-wow-iteration="3" data-wow-duration="0.05" class="wow pulse navbar-brand animated" style="visibility: visible; animation-iteration-count: 3; animation-name: pulse;">
          <img src="/Chainpass-Logo.png" style="height: 100%;">
        </a>


        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>




      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li class="active">
            <a href="/">
              <i class="fa fa-home"></i>
              Home
            </a>
          </li>
          <!--
          <li class="{{isActiveRoute name='about'}}">
            <a href="/about">
              <i class="fa fa-coffee"></i>
              {{_ "About"}}
            </a>
          </li>
          -->
          <li>
            <a href="/scanTicket">
              <i class="fa fa-qrcode"></i>
              Fotografa bigletto
            </a>
          </li>

          <li>
            <a href="/checkIn">
              <i class="fa fa-train"></i>
              Check-in
            </a>
          </li>
          <!--
          <li>
            <a href="https://medium.com/@ico_land" target="_blank">
              <i class="fa fa-link"></i>
              Blog
            </a>
          </li>
        -->



        </ul>
        <!--
        <ul class="nav navbar-nav navbar-right">


        </ul>
        -->
      </div><!--/.nav-collapse -->
    </div>
  </nav>
  <div class="container-fluid maincontainer">
    {{>Template.dynamic template=content}}

  </div>
</template>
