<template name="scanTicket">
  <div class="qrcodeSanBox" style="text-align:center;position:relative;">
    <div class="green" style="position:absolute;top:10px;left: 25%;width:50%;background:rgba(255, 255, 255, 0.70);padding-top:15px;padding-bottom:15px;">
      <b>
        Per favore fotografa il tuo bigletto
      </b>
    </div>
    {{> qrScanner}}
  </div>

  <a href="/ticketInfo/{{ticketId}}" class="qrcodeSanBtn btn btn-lg btn-success" style="display:none;width:100%">
    <i class="fa fa-train"></i>
    Visualizza il bigletto
  </a>
</template>
