<template name="ticketInfo">
  <form>
    <div class="form-group row">
      <label class="col-xs-4 col-form-label">Destinazione</label>
      <div class="col-xs-8">
        <p class="form-control-static">{{to}}</p>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-xs-4 col-form-label">Orario di partenza</label>
      <div class="col-xs-8">
        <p class="form-control-static">{{departsAt}}</p>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-xs-4 col-form-label">Orario di arrivo</label>
      <div class="col-xs-8">
        <p class="form-control-static">{{arrivesAt}}</p>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-xs-4 col-form-label">Stazione di partenza</label>
      <div class="col-xs-8">
        <p class="form-control-static">{{from}}</p>
      </div>
    </div>
  </form>
</template>
